# OS
.DS_Store
Thumbs.db

# IDE
.idea/

.vscode/
*.code-workspace

# Node
node_modules/
dist/
build/
.bin
# Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/
.venv/
venv/
env/
.env

# Logs
*.log
