# OS
.DS_Store
Thumbs.db
*.json
# IDE
.idea/
*.pdf
.vscode/
*.code-workspace
*.bin
# Node
node_modules/
dist/
build/
.bin
# Python
__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pytest_cache/
.venv/
venv/
env/
.env

# Logs
*.log
